mixin video(video)
    div
        h2 
            a(href=`/video/${video.id}`) #{video.title}
            //- video.title은 a의 내용물임.링크가 title로 뜸
        p=video.description
        small=video.createdAt
        hr