extends base.pug
include mixins/video

block content 
    form(method="get")
        input(placeholder="Input the keyword" name="keyword" type="text")
        input(type="submit" value="submit")
    for video in videos
        +video(video)
